<div class="row">
    <div class="small-6 small-centered columns">
        <h1>Campifi</h1>
    </div>
</div>

<div class="grid-block, landingTextBG">
    <div class="small-6 small-centered columns">
        <p>
            Campifi - Find A Campsite Now!
        </p>
    </div>
</div>


<div class="align-spaced grid-block">
    <div class="small-6 columns">
        <button class="success button" type="button" name="button">Login</button>

    </div>
    <div class="small-6 columns">
        <button class="success button" type="button" name="button">Sign Up</button>
    </div>
</div>
