<div class="indexMediaQ">


<div class="flex-video widescreen">
  <iframe width='200px' height='300px' src="https://www.youtube.com/embed/0wCC3aLXdOw?autoplay=1&controls=0&disablekb=0&loop=1&modestbranding=1&showinfo=0&volume=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row content1">
    <div class="small-6 small-centered text-center columns">
        <h1>Campifi</h1>
    </div>
</div>

<div class="row landingTextBG content">
    <div class="small-10 small-6 large-6 small-centered large-centered text-center columns">
        <p>
            Campifi - Find A Campsite Now!
        </p>
    </div>
</div>

<div class="row content">
  <div class="small-6 large-6 text-center columns">
    <a href="/login">
      <button class="success button logSign" type="button" name="button">Login</button>
    </a>
  </div>
  <div class="small-6 large-6 text-center columns">
    <a href="/signup">
      <button class="success button logSign log2" type="button" name="button">Sign Up</button>
    </a>
  </div>
</div>
</div>
