<<<<<<< HEAD

<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class='text-center'> Join Us! </h1>
  </div>
</div>
<form>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <label class='text-center'>Username
        <input type="text" name="username" placeholder="username">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <label class='text-center'>Password
        <input type="text" name="password" placeholder="password">
      </label>
=======
<div class="row">
    <div class="small-6 small-centered columns">
        <h1>Campifi</h1>
    </div>
</div>

<div class="row landingTextBG">

    <div class="small-6 large-6 small-centered large-centered text-center columns">
        <p>
            Campifi - Find A Campsite Now!
        </p>
    </div>

</div>

<div class="row">
    <div class="small-6 columns">
        <a href="/login"><button class="success button" type="button" name="button">Login</button></a>

    </div>
    <div class="small-6 columns">
        <a href="/signup"><button class="success button" type="button" name="button">Sign Up</button></a>
>>>>>>> 70e6ed47cb75be23f8545d4938e702eecb0d8ef5
    </div>
  </div>
  <div class=''>
  <button class='success button' type="submit">Send!</button>
</div>
</form>
