<div class="indexBackgroundImage show-for-small-only">
</div>

<div class="flex-video widescreen show hide-for-small-only">
    <iframe id='bgvid' height='100%' width='100%' src="https://www.youtube.com/embed/9d8wWcJLnFI?autoplay=1&controls=0&disablekb=0&loop=1&modestbranding=1&showinfo=0&volume=0&start=45&" frameborder="0" allowfullscreen></iframe>
</div>

<div class="landingPage">
    <h1 class="content1 text-center">Campifi</h1>
    <p class="landingTextBG content text-center">Campifi - Find A Campsite Now!</p>
    <div class="landingButtons">
    <a href="/login">
        <button class="detailBtn2" type="button" name="button"><h3>Login</h3></button>
    </a>
    <a href="/signup">
        <button class="detailBtn2" type="button" name="button"><h3>Sign Up</h3></button>
    </a>
    </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>
      This application is designed for people who just want to go camping. Campifi is a unique web application, that allows campers, aka users, to search, save and add "unaffiliated" campsites. Unlike other applications populatated by camp APIs that are based of for official, "pay here" campsite businesses, Campifi recognizes that most poeple want to get away from that and just go camp. And there are so many places other places to camp. Join today, find a site, add your own and just go camp!
    </p>
  </div>
<div class="small-12 columns">
  <img  src="../screenshot1.png" alt="app picture" />
</div>
  <div class="small-12 columns">
    <p>
      Campifi features a homescreen with a map that geolocates you and pulls nearby campsites so you can just go camp! Click on the campsite marker to checkout details. The site also makes it super easy to add campsites by geolocating you add a location to a site, and each campsite requires a picture and has a comment section so you can learn more about the site from other campers.
    </p>
  </div>


</div>
