<html>

<head>
    <title>Campifi - Find A Campsite Now!</title>
    <!--jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

    <!--Stylesheets-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="grid-frame">
   {{{body}}}
  </div>
</body>

</html>
