<html>

<head>
    <title>Campifi - Find A Campsite Now!</title>
    <!--jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>

    <!--Foundation Icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <script src="/js/vendor/modernizr.js"></script>
    <!--Stylesheets-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,900|Boogaloo' rel='stylesheet' type='text/css'>
</head>

<body>
    {{{body}}}
    <script src="/js/vendor/jquery.js"></script>
    <script type='application/javascript' src="/js/vendor/fastclick.js"></script>
    <script> $(document).foundation(); </script>
</body>

</html>
