<form class="" action="/sign_up" method="post">
  <label for="username">Username:</label>
  <input type="name" name="username" value="">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <button type="submit" value="Sign up">Sign up!</button>
</form>
<h2>{{error}}</h2>
