<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class='text-center'> Join Us! </h1>
  </div>
</div>

<form>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <label class='text-center'>Username
        <input type="text" name="username" placeholder="username">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <label class='text-center'>Password
        <input type="text" name="password" placeholder="password">
      </label>
    </div>
  </div>
  <div class=''>
  <button class='success button' type="submit">Send!</button>
</div>
</form>
