/*Global*/
body {
  background-color: #F1EDE5;
  height: 100vh;
}
/*lighter brown*/
.maincolor {
  background-color: hsl(22,49%,43%);
}
/*darker brown*/
.secondcolor {
  background-color: hsl(19,100%,19%);
}
/*green*/
.thirdcolor {
  background-color: hsl(105,32%,53%);
}

.whitecolor, html {
  background-color: hsl(43,91%,96%);
}

.blackcolor {
  background-color: hsl(0,4%,13%);
}

.h1, h1 {
  font-size: 3rem;
  font-family: 'Boogaloo', sans-serif;
}

.h2, h2 {
  font-size: 2.5rem;
  font-family: 'Boogaloo', sans-serif;
}

.h3, h3 {
  font-size: 2rem;
  font-family: 'Boogaloo', sans-serif;
}

.detail {
  color: blue;
}

li {
  list-style-type: none;
}

a {
  color: hsl(43,91%,96%);
}

p, li {
  font-size: 1.1rem;
  font-family: 'Roboto', serif;
}

ol {
  list-style: lower-alpha;
  padding-left: 20px;
}

ul {
  padding-left: 20px;
}
.top-bar, .top-bar ul {
    background-color: #CFDFFB;
}
button {
  padding: .5%;
  border-radius: 20%;
  background-color: #4D5541;
  color: #CFDFFB;
  font-weight: 900;
  font-family:'Roboto', serif;
  border: 1px solid hsl(19,100%,19%);
}

/* End Global */


/* Home Page*/
.descBg {
  margin-top: 10vh;
  height: auto;
  border-radius: 6px;
  box-shadow: 10px 10px 5px #3E1909;
  background: -webkit-radial-gradient( circle, #FCEBBF 10%, #B3C596 80%);
}

.descBg p {
  font-size: 1.4rem;
  font-family: 'Roboto', serif;
}
.detailBtn {
  display: flex;
  justify-content: center;
}
.detailBtn2 {
  border-radius: 6px;
  width: 20vw;
}
/* End Home Page*/


/*            LANDING PAGE             */
.landingTextBG {
  /*width: 35rem;
  height: auto;*/
	border-radius: 6px;
  box-shadow: 0px 0px 3px 3px #FCEBBF 10%;
  /*background: -webkit-radial-gradient( circle, #FCEBBF 10%, #75AF63 80%);*/
  display: flex;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.video iframe {
  position: absolute;
  height: 40vh; !important
}
.content1 {
  position: absolute;
  width: 60%;
  margin-left: 20vw;
  margin-top: -95vh;
  /*background: -webkit-radial-gradient( circle, #FCEBBF 10%, rgba(117, 175, 99, 0.7) 80%);*/
  border-radius: 6px;
  display: flex;
  justify-content: center;
}
.content1 h1 {
  color: hsl(43,91%,96%);
  text-shadow: 2px 2px black;
  font-size: 10rem;
}

.content {
  position: absolute;
  margin-left: 30vw;
  margin-top: -60vh;
}
.content p {
  font-size: 2rem;
  font-family: 'Roboto', serif;
  color: hsl(19,100%,19%);
}
.logSign {
  margin-top: 25vh;
  width: 10vw;
  border-radius: 6px;
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
  background-color: hsl(105,32%,53%);
  display: flex;
  justify-content: center;
}
.log2 {
  margin-left: 8vw;
}
/*End Landing Page*/
.button.success {
  color: hsl(19,100%,19%);
}
.campsiteImage {
 height: 40vh;
 width: 35vw;
 border-radius: 6px;
}

.center {
 display:flex;
 flex-wrap: wrap;
}

.topNavIcon {
  list-style-type: none;
  font-size: 1.5rem;
  color: hsl(0,4%,13%);
}
.topNavIcon a{
  font-size: .8 rem;
  color: hsl(0,4%,13%);
}
.navIcon {
  list-style-type: none;
  font-size: 3rem;
  color: hsl(0,4%,13%);
}
.navIcon a{
  font-size: 1.5rem;
  color: hsl(0,4%,13%);
}
.top-bar {
 display: flex;
 justify-content: space-between;
 background-color: #CFDFFB;
}
/*ul .dropdown .menu {
background-color: #CFDFFB;
}*/
.top-bar a {
  color: hsl(0,4%,13%);
}
 .top-bar-left {
  background-color: #CFDFFB;
 }

 .top-bar-right {
  background-color: #CFDFFB;
 }

.no-js .top-bar {
 display: none;
}
/*/nav/*/
@media only screen and (min-width: 40.063em) {
 .no-js .top-bar {
   display: block;
 }

 .no-js .title-bar {
   display: none;
 }
}
 /*Map stuff*/

#map {
  width: 90%;
  background-color: pink;
  height: 30rem;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 18px 116px -2px #3E1909;
  margin-bottom: 10vh;
}

/*                MEDIA QUERIES                */


@media only screen and (max-width: 40.063em) {
  .indexMediaQ {
    background-image: url('http://cdn4.benzinga.com/files/imagecache/1024x768xUP/images/story/2012/shutterstock_132468212.jpg');
    height: 100%;
  }
  .top-bar-left {
   display: flex;
   justify-content: space-between;
   height: 5vh;
  }
  .top-bar-right {
   display: flex;
   justify-content: space-between;
   height: 5vh;
  }
  .top-bar-left a {
   font-size: 2em;
  }
  .campsiteImage {
    height: 40vh;
    width: 80em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
  .campsiteName {

    display: flex;
    justify-content: center;
  }
  .descBg {
    margin-top: 3vh;
  }
  .content1 {
    margin-left: 20vw;
    margin-top: -10vh;
  }
  .content1 h1 {
    font-size: 2rem;
  }
  .content {
    width: 80%;
    margin: auto;
    margin-left: 10vw;
    padding-left: -20px;
  }
  .content p {
    font-size: 1rem;
    padding-top: 2vh;
  }
  iframe {
    display: none;
  }
  .logSign {
    width: 25vw;
    font-size: 1rem;
  }
  .detailBtn2 {
    border-radius: 6px;
    width: 30vw;
  }
}
